@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic');

body {
	/*background-color: #C0D5FC;*/
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	background-image: url("../imgs/starry_sky.jpg");
	background-size: cover;


}
.header{
	
	background-color: rgba(51, 105, 206, 0.7);
	height: 70px;
}
#log_text{
	margin-top:5px;
	font-size: 55px;
	color: #fff
}


 .img_sign{
	width: 150px;
}
.content{
	margin-top: 30px;
	color: white;

}
.block_sign{
	margin: 0 3px;
	margin-bottom: 30px;
}
.block_sign a{
	text-decoration: none;
	color: white;

}
.
/* ++ Анимация при наведении */
	
	/*картинок*/
	div.rot_img {
	  margin:0 auto;
	}

	div.rot_img img {
	  width: 150px;
	  z-index: 2;
		  -moz-transition: all 0.4s ease-in-out;
		  -webkit-transition: all 0.4s ease-in-out;
		  -o-transition: all 0.4s ease-in-out;
	  transition: all 0.4s ease-in-out;
	}

	.rot_img img.img_sign{
		position: absolute;
	}
	.rot_img img.subimg_sign {
	  opacity:0;
	  position: relative;
	  transform: rotate(-180deg);
	}
	.block_sign:hover img.subimg_sign {
	  opacity:1;
	  transform: rotate(0);
	}
	.block_sign:hover img.img_sign, .rot_img img.img_sign:hover {
	  opacity:0;
	  transform: rotate(180deg);
	}

	/*текста*/
	.text_sign h1{
	text-align: center;
	font-size: 55px;
	}

	.text_sign{
		transition: all 0.4s ease;
		z-index: 1;	
	}
	.subtext_sign{
		transition:all 0.4s ease;
		position: absolute;
		transform: translateY(150px);
		opacity: 0;
	}
	.subtext_sign h2{
		font-size: 30px;
		font-weight: bold;
	}
	.block_sign:hover .text_sign{
		transition: all 0.4s ease-in-out;
		transform: translateY(-150px);
		opacity: 0;
	}

	.block_sign:hover .subtext_sign{
		
		transform: translateX(0);
		opacity: 1;	
	}
/* --  анимация при наведении */



